<div class="widgets">

  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-title="勋章" ba-panel-class="with-scroll">
        <div class="horizontal-scroll">
          <table class="table">
            <thead>
            <tr class="sortable ">
              <th class="table-id">#</th>
              <th>积分名称</th>
              <th>是否启用</th>
              <th>操作</th>
            </tr>
            <tr>
              <th></th>
              <th><input ng-model="search.creditItem" placeholder="Search creditItem" class="input-sm form-control search-input"
                         type="search"/></th>
              <th><input ng-model="search.isEnable" placeholder="Search isEnable" class="input-sm form-control search-input" type="search"/>
              </th>
              <th><a ui-sref="management.accumulationOperationList.add">新增</a></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in OperationListCtrl.smartTableData | filter:search:strict">
              <td class="table-id">{{item.id}}</td>
              <td>{{item.creditItem}}</td>
              <td>{{item.isEnable}}</td>
              <td><a ui-sref="management.accumulationOperationList.modify({id: item.id})">修改</a></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="7" class="text-center">
                <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
              </td>
            </tr>
            </tfoot>
          </table>

        </div>
      </div>
    </div>
  </div>

</div>