<div class="widgets">

  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-title="勋章" ba-panel-class="with-scroll">
        <div class="horizontal-scroll">
          <div class="form-group select-page-size-wrap ">
            <label>行/页
              <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                      ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
              </select>
            </label>
          </div>
          <table class="table" st-table="smartTableData">
            <thead>
            <tr class="sortable ">
              <th class="table-id" st-sort="id" st-sort-default="true">#</th>
              <th st-sort="credititem">积分名称</th>
              <th st-sort="isenable">是否启用</th>
              <th st-sort="">操作</th>
            </tr>
            <tr>
              <th></th>
              <th><input st-search="credititem" placeholder="Search credititem" class="input-sm form-control search-input"
                         type="search"/></th>
              <th><input st-search="isenable" placeholder="Search isenable" class="input-sm form-control search-input" type="search"/>
              </th>
              <th><a ui-sref="management.accumulationOperationList.add">新增</a></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in smartTableData">
              <td class="table-id">{{item.id}}</td>
              <td>{{item.credititem}}</td>
              <td>{{item.isenable}}</td>
              <td><a ui-sref="management.accumulationOperationList.modify({id: item.id})">修改</a></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="7" class="text-center">
                <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
              </td>
            </tr>
            </tfoot>
          </table>

        </div>
      </div>
    </div>
  </div>

</div>