<div class="widgets">

  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-title="班组信息" ba-panel-class="with-scroll">
        <div class="horizontal-scroll">
          <table class="table">
            <thead>
            <tr class="sortable ">
              <th class="table-id">#</th>
              <th>班组名称</th>
              <th>勋章类型</th>
              <th>介绍</th>
              <th>优先级</th>
              <th>是否启用</th>
              <th>操作</th>
            </tr>
            <tr>
              <th></th>
              <th><input ng-model="search.medalName" placeholder="Search medalName" class="input-sm form-control search-input"
                         type="search"/></th>
              <th><input ng-model="search.medalType" placeholder="Search medalType" class="input-sm form-control search-input"
                         type="search"/></th>
              <th><input ng-model="search.medalInfo" placeholder="Search medalInfo" class="input-sm form-control search-input"
                         type="search"/></th>
              <th><input ng-model="search.priorityNum" placeholder="Search Priority" class="input-sm form-control search-input" type="search"/>
              </th>
              <th><input ng-model="search.isEnable" placeholder="Search Available" class="input-sm form-control search-input" type="search"/>
              </th>
              <th><a ui-sref="management.groupManagement.add">新增</a></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in managementCtrl.smartTableData | filter:search:strict">
              <td class="table-id">{{item.id}}</td>
              <td>{{item.medalName}}</td>
              <td>{{item.medalType}}</td>
              <td>{{item.medalInfo}}</td>
              <td>{{item.priorityNum}}</td>
              <td>{{item.isEnable}}</td>
              <td><a ui-sref="management.groupManagement.modify({id: item.id})">修改</a></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="7" class="text-center">
                <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
              </td>
            </tr>
            </tfoot>
          </table>

        </div>
      </div>
    </div>
  </div>

</div>